@font-face {
    font-family: 'factoriaw00-lightregular';
    src: url('../fonts/factoria_w00_light-webfont.woff2') format('woff2'),
         url('../fonts/factoria_w00_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'noths_sans_no2semibold';
    src: url('../noths_sans_no2_5_semibold_03_final-webfont.woff2') format('woff2'),
         url('../noths_sans_no2_5_semibold_03_final-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}