main {
    display: inline-block;
    width: 100%;
    .code-loading {
        width: 100px;
        height: 100px;
        position: absolute;
        left: calc(50% - 100px);
    }
    .code-display {
        opacity: 0;
        h5 {
            margin: 0 0 1rem 0;
            padding-bottom: 0;
        }
        [class*="inline-code"] {
            margin-bottom: 2rem;
        }
    }
    .CodeMirror {
        background: rgba(60, 133, 248, 0.08);
        margin-bottom: 2rem;
        font-size: 1.2rem;
        border: none;
        height: auto;
    }
    .CodeMirror-scroll {
        max-height: 270px;
    }
}

.reset-register {
    margin-top: 5rem;
}

.hide {
    display: none;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover>ul.dropdown-menu {
        display: block!important;
    }
}

@include media-breakpoint-up(sm) {
    main {
        padding-top: 0;
    }
}

@include media-breakpoint-up(lg) {
    main {
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        min-height: calc(100% - 57px);
        position: relative;
        &.active,
        &.login {
            width: 100%;
            left: 0;
        }
    }
}

section {
    padding: 5rem 0;
    section {
        margin-bottom: 2rem;
    }
}

@include media-breakpoint-up(sm) {
    .page--heading {
        .col-sm-12 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.page--content {
    padding-top: 2rem;
    section {
        margin: 4rem 0;
        &:first-of-type {
            padding-top: 0;
            margin-top: 0;
        }
    }
    h2,
    h3 {
        &:first-of-type {
            padding-top: 0;
        }
    }
}

.submitted {
    color: #a9a9a9;
    font-family: helvetica;
    font-weight: 300;
    strong {
        font-weight: 900;
    }
}

@include media-breakpoint-up(lg) {
    .justify-right {
        text-align: right;
    }
}

@include media-breakpoint-up(lg) {
    .max-large {
        max-width: 960px;
    }
}

.panel {
    background: white;
    border-left: 3px solid $primary;
    padding: 1rem;
    margin-bottom: 1rem;
}

.form-group {
    position: relative;
}

.page--scroll {
    margin: 0;
    padding: 0 15px 0 0;
}

.login {
    height: 100%;
    .btn-primary {
        margin-top: 3rem;
    }
    .container {
        padding: 4rem 2rem;
    }
    .login-form {
        padding: 2rem;
        border-radius: 0;
    }
}

.fr-img-wrap {
    text-align: center;
    display: block;
}

blockquote {
    padding: 0 0 0 1rem;
    border-left: 3px solid $primary;
}

footer {
    // background: $blue-3;
    border-top: 1px solid $border;
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.49);
    position: relative;
    z-index: 30;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 1rem 0;
        }
    }
}

.user-controls {
    form {
        display: initial;
    }
}

.main {
    padding: 1rem 0;
    position: relative;
    &.side {
        left: 280px;
        position: relative;
        // width: calc(100% - 280px);
    }
    h3 {
        margin-bottom: 2rem;
        padding-bottom: 0;
    }
}

@include media-breakpoint-up(lg) {
    .main {
        padding: 2rem 0;
    }
}

.home {
    .intro {
        &:after {
            content: "";
            background-image: url(/img/image-1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
        display: block;
        position: relative;
        width: 100%;
        .btn {
            margin-bottom: 2rem;
        }
    }
}

.home__video {
    padding: 0;
    video {
        display: block;
        margin-bottom: 6rem;
    }
}

.home__tutors {
    img {
        width: 100px;
        margin: 2rem auto;
        display: block;
    }
    p {
        margin: 2rem 0;
    }
}

.tertiary {
    background: $tertiary;
}

.home__sign-up {
    background: $tertiary;
    text-align: center;
    padding: 5rem 0 8rem;
    h2 {
        color: white;
        text-align: center;
        padding: 3rem 0;
    }
    input {
        font-size: 21px;
        width: 50%;
        padding: 0.4rem 2rem;
        border-radius: 5px;
        margin-right: 1rem;
    }
}

.stand-out {
    .panel {
        background: $grey-5;
        margin-bottom: 1rem;
        height: 260px;
        border-left: 0;
        padding: 7rem 0 0;
        h2 {
            text-align: center;
        }
    }
}

.course-type-selection {
    padding: 0;
    .price-span {
        position: absolute;
        background: white;
        border-radius: 50%;
        width: 175px;
        height: 175px;
        padding: 3.9rem 1rem;
        right: 190px;
        top: 100px;
        text-align: center;
        h3 {
            font-size: 4rem;
        }
        span {
            color: black;
        }
    }
    .ui-tabs {
        padding: 0;
    }
    .nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-tabs {
        border-bottom: none;
    }
    .tab-pane {
        padding: 3rem 1rem;
    }
    .tab-content>.active {
        display: inline-block;
    }
    .tab-content {
        padding: 2rem;
        display: inline-block;
    }
    .tab-container {
        background: $darkBlack;
        color: white;
        padding: 5rem 0;
        p,
        h2 {
            color: white;
        }
    }
    .center-tabs {
        display: table;
        margin: 0 auto;
    }
    .ui-state-default,
    .ui-state-active {
        border-radius: 5px 5px 0 0;
        .nav-link {
            background-color: transparent;
            border-color: transparent;
            color: inherit;
            font-size: 16px;
        }
    }
    .ui-state-default {
        background: $grey-5;
    }
    .ui-state-active {
        background: $darkBlack;
        color: white;
    }
}

footer {
    padding: 3rem 0;
    background: #F1F1F1;
    ul {
        li {
            display: inherit;
            a {
                color: $grey-3;
            }
        }
    }
}

.cd-gallery img {
    width: inherit;
}

.list-of-courses {
    background-color: $tertiary;
    .row {
        &:not(:first-of-type) {
            margin: 0 3rem;
        }
        // Each course container
        div {
            margin: 1rem 0;
            .panel {
                background: $white;
                padding: 1rem;
                margin: 0;
                h3 {
                    margin: 0 0 1rem;
                    padding: 0;
                }
            }
        }
    }
    ul {
        li {
            margin: 0 1rem 1rem 0;
            display: inherit;
        }
    }
    img {
        width: inherit;
    }
}

@include media-breakpoint-up(lg) {
    .list-of-courses {
        ul {
            li {
                display: inline-block;
            }
        }
    }
}

.purchase {
    .btn {
        float: right;
        position: absolute;
        bottom: 18px;
        right: 0;
    }
}

.check {
    .btn {
        float: right;
    }
}

.full-width {
    margin: 0 2rem;
}

.dashboard {
    padding: 2rem 0;
    .card {
        border-radius: 0;
    }
    .entry {
        border-bottom: 1px solid $grey-4;
        border-left: 1px solid $grey-4;
        border-right: 1px solid $grey-4;
        display: flex;
        padding: 1rem 0;
        ul {
            li {
                margin-bottom: 0.5rem;
            }
        }
        sub {
            margin-bottom: 1rem;
            position: relative;
            display: inline-block;
        }
        .btn {
            margin-top: 1rem;
        }
    }
    .collapse.show {
        position: relative;
    }
}

.dropleft {
    .dropdown-menu {
        display: block;
    }
}

.dash--schedule {
    background: #ceffb6;
    padding: 1rem;
    min-height: 66px;
    vertical-align: middle;
    position: relative;
    border: 1px solid $border;
    strong {
        position: relative;
        top: 4px;
    }
}

.access-screen {
    p {
        font-size: 18px;
        margin-bottom: 2rem;
    }
    strong {
        color: orange;
    }
    input[type=text] {
        font-weight: 700;
        font-size: 26px;
    }
}

.access-code {
    background: #ffcb00;
    color: white;
    text-align: center;
}

.dash--course {
    background: #F1F1F1;
    padding: 1rem;
    .logo {
        width: 28px;
        margin-right: 1rem;
    }
    .action {
        float: right;
        .tutor-group {
            background: #9B51E0;
            color: white;
            font-weight: bold;
            text-align: center;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            display: inline-block;
            &:after {
                content: "TG";
                position: relative;
                top: 4px;
            }
        }
        .locked,
        .status,
        .toggle {
            margin-left: 1rem;
        }
    }
    .toggle {
        float: right;
        img {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
        }
        &[aria-expanded="true"] {
            img {
                transform: rotate(180deg);
                -ms-transform: rotate(180deg);
            }
        }
        img {
            width: 21px;
        }
    }
}

.dash--alert {
    position: relative;
    right: 0;
    top: 0;
    background: #d6ca1b38;
    padding: 1rem 1rem 0.5rem 1rem;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    img {
        width: 30px;
    }
    img,
    p,
    a {
        display: inline-block;
        margin-left: 1rem;
    }
}

.purchase,
.check,
.confirmation,
.register {
    padding: 2rem 0;
    label,
    input {
        width: 100%;
        display: inline-block;
        font-size: 18px;
    }
    select {
        font-size: 18px;
    }
    h2 {
        margin-bottom: 3rem;
        span {
            color: $orange;
        }
    }
    #user-type {
        // display: none;
        color: $orange;
    }
    label {
        &.error {
            background: #dc3545;
            padding: 1rem;
            border: 1px solid #EB5757;
            right: -280px;
            font-style: italic;
            color: white;
            font-size: 14px;
        }
    }
    img {
        width: 100%;
    }
    .course-desc {
        background: #f3f3f3;
        padding: 2rem;
        margin: 2rem 0;
    }
    .subtotal {
        border-bottom: 1px solid $border;
        display: flow-root;
        margin: 0 0 2rem 0;
        padding: 0 0 1rem;
        h4 {
            float: left;
            &:not(:first-child) {
                float: right;
            }
        }
    }
    p {
        span {
            color: $orange;
            font-weight: bold;
        }
    }
    .headless-logo {
        text-align: center;
        margin: 5rem 0;
        img {
            width: 244px;
            margin: 0 auto;
        }
    }
    .choice {
        .btn {
            float: left;
            &:nth-of-type(1) {
                float: right;
            }
        }
    }
    .radio-group {
        div {
            margin-right: 4rem;
            display: inline-block;
            label {
                color: $grey-1;
            }
            label,
            input {
                float: left;
                width: inherit;
            }
            input {
                border: 0px;
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
            }
        }
    }
}