.list-group-item {
    &:last-child {
        border-radius: unset;
    }
}

nav {
    &.primary {
        width: 100%;
        padding: 1rem 2rem;
        border-bottom: 1px solid #E0E0E0;
        display: flex;
        flex-direction: row;
        .navbar-toggler {
            position: absolute;
            right: 4%;
            border: none;
        }
        .logo-button {
            margin-right: 2rem;
        }
    }
    .pull-right {
        position: absolute;
        right: 2px;
        top: 22px;
        .notifcation-indicator {
            background: $red;
            color: $white;
            text-align: center;
            padding: 0.3rem;
            border-radius: 50px;
            width: 34px;
            position: absolute;
            top: 3px;
            left: -45px;
        }
        .dropdown {
            &:hover {
                >.dropdown-menu {
                    text-align: right;
                    right: 0;
                    left: auto;
                    display: block;
                }
            }
        }
    }
}

.logo-button,
.navbar-collapse {
    display: flex;
}

ul {
    float: left;
    padding: 1rem 0;
    a {
        font-size: 18px;
    }
    &.right {
        float: right;
    }
    li {
        margin: 0 1rem;
    }
}

.dropdown:hover>.dropdown-menu {
    display: flex;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}