$border: rgba(0, 0, 0, .12);
// Primary Colours
$primary: #1F354F;
$secondary: #96CBC3;
$tertiary: #D8E2DA;
// Indicator colours
$red: #EB5757;
$orange: #F2994A;
$yellow: #F2C94C;
$white: #ffffff;
$black: #000000;
$gutter: 12px;
$extra-width: 1368px;
$desktop-menu-width: 20%;
$desktop-main-width: 80%;