</main>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="" href="/"><img src="/img/etonx.png" alt="EtonX" /></a>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <ul>
                    <li><a class="" href="#">Our Courses</a></li>
                    <li><a class="" href="#">Students</a></li>
                    <li><a class="" href="#">Parents</a></li>
                    <li><a class="" href="#">Tutors</a></li>
                    <li><a class="" href="# ">Schools</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><a class="" href="#">Link 1</a></li>
                    <li><a class="" href="#">Link 2</a></li>
                    <li><a class="" href="#">Link 3</a></li>
                    <li><a class="" href="#">Link 4</a></li>
                    <li><a class="" href="#">Link 5</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><a class="" href="#">Link 1</a></li>
                    <li><a class="" href="#">Link 2</a></li>
                    <li><a class="" href="#">Link 3</a></li>
                    <li><a class="" href="#">Link 4</a></li>
                    <li><a class="" href="#">Link 5</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><a class="" href="#">Link 1</a></li>
                    <li><a class="" href="#">Link 2</a></li>
                    <li><a class="" href="#">Link 3</a></li>
                    <li><a class="" href="#">Link 4</a></li>
                    <li><a class="" href="#">Link 5</a></li>
                </ul>
            </div>
        </div>
</footer>

<!-- Innefficient at the moment. We will move towards only loading the correct javascript that we need -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
<!-- JQuery UI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- JQuery Validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<!-- Country Select -->
<script src="/js/countrySelect.js"></script>
<!-- Main javascript for EtonX app -->
<script src="/js/etonx.js"></script>

<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>

<!-- <script language="javascript" type="text/javascript" src="/assets/js/SwupBodyClassPlugin.min.js"></script> -->

<script type="text/javascript">
    const swup = new Swup(); // only this line when included with script tag
    swup.on('contentReplaced', etonXinit);
</script>
</body>

</html>