<nav class="navbar navbar-expand-lg navbar-light primary">

    <div class="logo-button">

        <a class="" href="/"><img src="/img/etonx.png" alt="EtonX" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <% if (typeof user === true || typeof user === 'object') { %>

            <ul class="navbar-nav mr-auto">
                <li><a class="nav-item" href="/courses">Explore courses</a></li>
                <li><a class="nav-item" href="/dashboard">Dashboard</a></li>

                <li class="dropdown pull-right">
                    <div class="dropdown">
                        <div class="notifcation-indicator"><span>2</span></div>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%- user.firstName %> <%- user.lastName %>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Account</a>
                            <a class="dropdown-item" href="#">Notifications</a>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        </div>
                    </div>
                </li>
            </ul>
            <%  } else { %>
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-item" href="/courses">View courses</a></li>
                    <li><a class="nav-item" href="#">Students</a></li>
                    <li><a class="nav-item" href="#">Parents</a></li>
                    <li><a class="nav-item" href="#">Tutors</a></li>
                </ul>
                <a class="btn btn-primary large" href="/login ">Student login</a>
                <%  } %>
    </div>
</nav>