<nav id="primaryNav" class="primary">
    <ul>
        <li>
            <a class="" href="#"><img src="/img/etonx.png" alt="EtonX" /></a>
        </li>
        <li><a class="" href="#">Our Courses</a></li>
        <li><a class="" href="#">Students</a></li>
        <li><a class="" href="#">Parents</a></li>
        <li><a class="" href="#">Tutors</a></li>
        <li>
            <a class="" href="# ">Schools</a></li>
    </ul>
    <ul class="right ">
        <li><a class="btn-primary large" href="/login ">Student login</a></li>
    </ul>
</nav>