<% include ./partials/header %>
    <% include ./partials/alerts %>

        <main id="swup" class="transition-fade">

            <section class="confirmation">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 login-form">

                            <div class="headless-logo">
                                <img src="/img/etonx.png" />
                            </div>

                            <h2>Thank you!</h2>

                            <p>Have you been here before?</p>

                            <div class="row course-desc choice">
                                <div class="col">
                                    <p>You now need to enroll on this course. Choose from the following:</p>
                                    <a href="/login" class="btn btn-primary">I'm an existing EtonX student</a>
                                    <a href="/access-check" class="btn btn-primary">I'm a new EtonX student</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <% include ./partials/footer %>