<% include ./partials/header %>
    <% include ./partials/alerts %>

        <main id="main">

            <section class="confirmation">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 login-form">

                            <div class="headless-logo">
                                <img src="/img/etonx.png" />
                            </div>

                            <h2>Welcome
                                <%- user.firstName %>
                                    <%- user.lastName %>!</h2>

                            <p>These are the courses available to you to choose. Pick one.</p>

                        </div>

                        <div class="col-12 col-md-4 group-1 group-4 course animate__animated animate__fadeIn">
                            <img src="/img/courses/university-skills.jpg" alt="University Skills" />
                            <div class="panel">
                                <h3>University Interview Skills</h3>
                                <p>Develop the skills to ensure you are well-prepared for your university interview.</p>
                                <a href="/dashboard" class="btn btn-secondary">Select</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 group-2 group-3 course animate__animated animate__fadeIn">
                            <img src="/img/courses/resillience.jpg" alt="Resiliance" />
                            <div class="panel">
                                <h3>Resilience</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/dashboard" class="btn btn-secondary">Select</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 group-1 course animate__animated animate__fadeIn">
                            <img src="/img/courses/verbal-communication.jpg" alt="Verbal Communication" />
                            <div class="panel">
                                <h3>Verbal Communication</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/dashboard" class="btn btn-secondary">Select</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <% include ./partials/footer %>