<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>

            <main id="main">

                <section class="check access-screen">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">


                                <h2>Welcome to EtonX</h2>

                                <% if (accessCode && institution) { %>
                                    <p>
                                        This course was issued by
                                        <strong><%- institution %></strong> for enrollment onto our EtonX course(s).</p>
                                    <div class="form-group">
                                        <label>Check the code is correct, and enroll.</label>
                                        <!--Access code-->
                                        <input autocomplete="off" type="text" name="access-code" value="<%- accessCode %>">
                                        </select>
                                    </div>
                                    <% } else { %>
                                        <p>If you have an access code which you've received from your institution or teacher, please enter it here:</p>
                                        <div class="form-group">
                                            <label>Access code</label>
                                            <!--Access code-->
                                            <input autocomplete="off" type="text" name="access-code" placeholder="Enter code">
                                            </select>
                                        </div>
                                        <% } %>

                                            <div class="form-group">
                                                <br />
                                                <br />
                                                <a href="/access-confirmation" class="btn large btn-primary" type="submit">Enroll</a>
                                            </div>

                            </div>
                        </div>
                    </div>
                </section>

                <% include ./partials/footer %>