<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="swup" class="transition-fade courses">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1>
                                    University Interview Skills
                                </h1>
                                <p>Develop the skills to ensure you are well-prepared for your university interview.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="tertiary">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <video muted="" loop src="https://etonx.com/wp-content/uploads/EtonX-promotional-video.mp4?_=1" width="100%" controls autoplay></video>
                            </div>
                            <div class="col-6">
                                <h3>Meet the course director</h3>
                                <img src="/img/female-tutor.svg" alt="Tutor" width="100" align="right" />
                                <h4>Dr. Jane Sillery</h4>
                                <h5>Senior Master, Eton College</h5>
                                <p>Jane studied History at Brasenose College, Oxford and completed a D Phil at The Queen's College, Oxford, before coming to Eton in 1997. She has taught History here for over 20 years, where she has also served variously
                                    as a tutor, as a Head of Department, as Deputy Head (Academic) and as a House Master - between 2006 and 2015 she was Master in College, responsible for the academic lives and pastoral well-being of the seventy Kings'
                                    Scholars. In all these roles, Jane has worked closely with students applying to top universities in both the UK and US.</p>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="stand-out no-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    Why develop your resilience skills?
                                </h3>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <div class="panel">
                                    <h3>Top 10</h3>
                                    <p>The World Economic Forum predicts that resilience will be one of the top ten skills desired by employers by 2025. </p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="panel">
                                    <h3>57%</h3>
                                    <p>Over 57% of employers name resilience as one of the top skills they are looking for in potential hires. </p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="panel">
                                    <h3> Higher resilience = higher achievement</h3>
                                    <p>A study showed that students with higher academic resilience also had higher academic achievement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="no-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Course Syllabus</h2>
                                <p>Our courses are broken down into digestible sections and units – each section should take no more than an hour, and each unit can be completed in as little as ten minutes. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="">
                                    <h4> 1 - Understanding the interview</h4>
                                    <ul>
                                        <li>Understanding what to expect from the interview process
                                        </li>
                                        <li>Understanding the interviewer's perspective, what they already know about you and how this information is used</li>
                                        <li>Developing awareness of the traits that interviewers look for in a candidate</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="">
                                    <h4>2 – Your university application</h4>
                                    <ul>
                                        <li>Conducting research so that you can talk with confidence about your chosen course and university</li>
                                        <li>Understanding how interviewers may refer to your personal statement and any submitted written work</li>
                                        <li>Developing a wider reading strategy to deepen your academic knowledge</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="">
                                    <h4>3 – Thinking on your feet</h4>
                                    <ul>
                                        <li>Planning ahead so that the interview goes smoothly
                                        </li>
                                        <li>Controlling your nerves so that you can approach difficulties calmly</li>
                                        <li>Reframing negative thoughts so that you can maintain a positive outlook</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="">
                                    <h4>
                                        4 – The Big Day
                                    </h4>
                                    <ul>
                                        <li>Learning how to approach questions calmly, to formulate relevant, focused answers</li>
                                        <li>Learning how to cope with unseen texts and problems
                                        </li>
                                        <li>Reframing irrational/negative thoughts </li>
                                        <li>Practising speaking your thought process out loud when answering questions</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <i>For timing details, please select your preferred course type below.</i>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <h2>Course Types</h2>
                            <p>Our courses can be taken in a number of different ways to suit your preferred learning style, goals and budget.</p>
                        </div>
                    </div>
                </section>


                <section class="">
                    <div class="container">
                        <div class="row">
                            <h3>Tutor Group</h3>
                            <ul class="check-list">
                                <li>Live class with tutor and up to 8 other students</li>
                                <li>Certificate of achievement from Eton College</li>
                                <li>Personalised feedback and action plan</li>
                            </ul>
                            <div class="price-span">
                                <h3>&pound;399</h3>
                                <span>3 week course</span>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="course-type-selection">
                    <div class="container">
                        <div class="row">
                            <div id="tabs">
                                <div class="center-tabs">
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a class="nav-link active" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="true">January</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="fast-tab" data-toggle="tab" href="#fast" role="tab" aria-controls="fast" aria-selected="false">February</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="summer-tab" data-toggle="tab" href="#summer" role="tab" aria-controls="summer" aria-selected="false">March</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="summer-tab" data-toggle="tab" href="#self" role="tab" aria-controls="summer" aria-selected="false">April</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-container">
                                    <!-- January -->
                                    <div id="tutor" class="tab-content">
                                        <table id="calendar">
                                            <tr class="weekdays">
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                                <th scope="col">Sunday</th>
                                            </tr>
                                            <tr class="days">
                                                <td class="day other-month">

                                                </td>
                                                <td class="day other-month">

                                                </td>
                                                <td class="day other-month">

                                                </td>
                                                <td class="day other-month">

                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">1</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-1">5 places left</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">2</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">3</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">4</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">5</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">6</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-2">8 places left</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">7</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">8</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">9</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">10</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">11</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">12</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">13</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">14</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">15</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">16</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Summing Up
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">17</div>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td class="day">
                                                    <div class="date">18</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">19</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">20</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">21</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Summing Up
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">22</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">23</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">24</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">25</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">26</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">28</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">29</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">30</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">31</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- February -->
                                    <div id="fast" class="tab-content">
                                        <table id="calendar">
                                            <tr class="weekdays">
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                                <th scope="col">Sunday</th>
                                            </tr>
                                            <tr class="days">
                                                <td class="day">
                                                    <div class="date">1</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-1">5 places left</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">2</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">3</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">4</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">5</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">6</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-2">8 places left</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">7</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">8</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">9</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">10</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">11</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">12</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">13</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">14</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">15</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">16</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Summing Up
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">17</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">18</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">19</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">20</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">21</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Summing Up
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>


                                                <td class="day">
                                                    <div class="date">22</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">23</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">24</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">25</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">26</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">28</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- March -->
                                    <div id="summer" class="tab-content">
                                        <table id="calendar">
                                            <tr class="weekdays">
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                                <th scope="col">Sunday</th>
                                            </tr>

                                            <tr class="days">
                                                <td class="day other-month">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">28</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">29</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">30</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">31</div>
                                                </td>


                                                <td class="day">
                                                    <div class="date">1</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-1">5 places left</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">2</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">3</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">4</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">5</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">6</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-2">8 places left</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">7</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">8</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">9</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">10</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">11</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">12</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">13</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">14</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">15</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">16</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Summing Up
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td class="day">
                                                    <div class="date">17</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">18</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">19</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">20</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">21</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Summing Up
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">22</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">23</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">24</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">25</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">26</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">28</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">29</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">30</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">31</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- April -->
                                    <div id="self" class="tab-content">
                                        <table id="calendar">
                                            <tr class="weekdays">
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                                <th scope="col">Sunday</th>
                                            </tr>

                                            <tr class="days">
                                                <td class="day other-month">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">28</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">29</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">30</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">31</div>
                                                </td>


                                                <td class="day">
                                                    <div class="date">1</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-1">5 places left</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">2</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">3</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">4</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">5</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">6</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-2">8 places left</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">7</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">8</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">9</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">10</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">11</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">12</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">13</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">14</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">15</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">16</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Summing Up
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">17</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">18</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">19</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">20</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">21</div>
                                                    <div class="event event-2">
                                                        <div class="event-desc">
                                                            Summing Up
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">22</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">23</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">24</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">25</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">26</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">28</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">29</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">30</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">31</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <video muted="" loop src="https://etonx.com/wp-content/uploads/EtonX-promotional-video.mp4?_=1" width="100%" controls autoplay></video>
                            </div>
                            <div class="col-6">
                                <img src="/img/female-tutor.svg" alt="Tutor" width="100" align="right" />
                                <h3>What can I expect?</h3>
                                <p>Our live classes are led by a specially trained tutor. With up to 8 other students you will participate in guided discussions and collaborative tasks to develop your resilience skills over the course of 7 weeks. </p>
                                <p>Each week consists of:</p>
                                <ul class="check-list">
                                    <li>Self-Study Tasks: 40 minutes</li>
                                    <li>Peer Learning Tasks: 20 minutes</li>
                                    <li>Live Group Class: 50 minutes</li>
                                    <li>Reflection Task: 10 minutes</li>
                                </ul>
                                <p>The course concludes with ?? task where you will receive a grade and personalised feedback from your tutor along with a SMART action plan to help you continue to develop your skills in the real world. </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <h3>Safeguarding</h3>
                                <p>As part of our rigorous safeguarding procedures, all EtonX tutors and staff have passed an enhanced DBS check and Child Safeguarding course. </p>
                            </div>
                            <div class="col-3">
                                <h3>Privacy & Data </h3>
                                <p>We take every step to ensure the security of your personal data. For information on how we collect and use your data, see our Privacy Policy.</p>
                            </div>
                            <div class="col-3">
                                <h3>Technical Requirements </h3>
                                <p>To ensure you have the best experience, there are some minimum requirements – click below to check if your device meets these.</p>
                            </div>
                            <div class="col-3">
                                <h3>Entry Requirements</h3>
                                <p>The minimum level of English required to participate in our courses is Upper Intermediate or B2 on the CEFR.</p>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="">
                    <div class="container">
                        <div class="row">
                            <h3>Self Study</h3>
                            <p>Whether you’ve got ten minutes or an hour to spare each week, our self-study courses allow you to access the same great self-study materials from our Tutor Group courses at a time and pace that suits your schedule. </p>
                            <ul class="check-list">
                                <li>7-10 hours of self-study material </li>
                                <li>Certificate of completion </li>
                            </ul>
                            <div class="price-span">
                                <h3>&pound;49</h3>
                                <span></span>
                            </div>
                            <p>No need to wait! Our self-study course is available now for just £49. </p>
                        </div>
                    </div>
                </section>

                <section class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <video muted="" loop src="https://etonx.com/wp-content/uploads/EtonX-promotional-video.mp4?_=1" width="100%" controls autoplay></video>
                            </div>
                            <div class="col-6">
                                <img src="/img/female-tutor.svg" alt="Tutor" width="100" align="right" />
                                <h3>What can I expect?</h3>
                                <p>Our self-study courses offer 7-10 hours of online material which you can work through at your own pace. </p>
                                <p>Each section of the course consists of:</p>
                                <ul class="check-list">
                                    <li>Self-Study: 50 minutes </li>
                                    <li>Reflection: 10 minutes </li>
                                </ul>
                                <p>At the end of the course, you’ll have the chance to build a SMART action plan to help you continue to develop your skills in the real world. </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>Testimonials</h3>
                                <p>"Everything was wonderful. The tutor explained everything clearly so that we understood and got very important experience communicating with an English-speaking person."</p>
                                <img src="/img/female-tutor.svg" alt="Tutor" width="100" align="right" />
                                <p>Violetta, EtonX Student from Russia</p>
                            </div>
                        </div>
                    </div>
                </section>



                <!-- Modals -->


                <div class="modal fade course-modal" id="event-1" tabindex="-1" role="dialog" aria-labelledby="event-1-Title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle">Course Reference #1</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal-body">
                                <div class="tutor">
                                    <img src="/img/female-tutor.svg" alt="Tutor" />
                                    <h4>Sally Field</h4>
                                </div>
                                <p>This course starts on the <strong>2nd January 2020</strong> and will last for 3 weeks.</p>
                                <p>Sally has 20 years experience teaching and is a certified EtonX tutor. etc. etc.</p>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                <a href="/check" data-dismiss="modal" class="btn btn-primary">Purchase & Enroll</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade course-modal" id="event-2" tabindex="-1" role="dialog" aria-labelledby="event-2-Title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle">Course Reference #2</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal-body">
                                <p>This course starts on the <strong>6th January 2020</strong> and will last for 3 weeks.</p>
                                <div class="tutor">
                                    <img src="/img/male-tutor.svg" alt="Tutor" />
                                    <h4>Bob Flemming</h4>
                                    <p>Bob is an ex Univeristy lecturer and certified EtonX tutor. etc. etc.</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                <a href="/check" data-dismiss="modal" class="btn btn-primary">Purchase & Enroll</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% include partials/footer %>