<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="main" class="courses">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>
                                    <%= course_title %>
                                </h2>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>


                <% include partials/footer %>