<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="main" class="courses">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Which course is appropriate for my needs?</h2>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>


                <section id="courses" class="list-of-courses">
                    <div class="container">
                        <div class="row">

                            <div class="col-12">
                                <h4>Filter courses</h4>
                                <ul>
                                    <li>
                                        <a class="btn btn-tertiary" data-toggle="group-1">Better Communication</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-tertiary" data-toggle="group-2">Leadership</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-tertiary" data-toggle="group-3">Workplace preparation</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-tertiary" data-toggle="group-4">University preparation</a>
                                    </li>
                                    <li>
                                        <a id="showAll" class="btn btn-primary">Show all</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-1 group-4 course animate__animated animate__fadeIn">
                            <img src="/img/courses/university-skills.jpg" alt="University Skills" />
                            <div class="panel">
                                <h3>University Interview Skills</h3>
                                <p>Develop the skills to ensure you are well-prepared for your university interview.</p>
                                <a href="/courses/university-skills" class="btn btn-secondary">View more</a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-2 group-3 course animate__animated animate__fadeIn">
                            <img src="/img/courses/resillience.jpg" alt="Resiliance" />
                            <div class="panel">
                                <h3>Resilience</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/resilience" class="btn btn-secondary">View more</a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-1 course animate__animated animate__fadeIn">
                            <img src="/img/courses/verbal-communication.jpg" alt="Verbal Communication" />
                            <div class="panel">
                                <h3>Verbal Communication</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/verbal-communication" class="btn btn-secondary">View more</a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-1 group-2 course animate__animated animate__fadeIn">
                            <img src="/img/courses/public-speaking.jpg" alt="Public Speaking" />
                            <div class="panel">
                                <h3>Public Speaking</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/public-speaking" class="btn btn-secondary">View more</a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-1 group-3 course animate__animated animate__fadeIn">
                            <img src="/img/courses/job-interview-skills.jpg" alt="Job Interview Skills" />
                            <div class="panel">
                                <h3>Job Interview Skills</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/job-interview-skills" class="btn btn-secondary">View more</a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-1 group-4 course animate__animated animate__fadeIn">
                            <img src="/img/courses/writing-skills.jpg" alt="Writing Skills" />
                            <div class="panel">
                                <h3>Writing Skills</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/writing-skills" class="btn btn-secondary">View more</a>
                            </div>
                        </div>

                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-2 group-3 group-4 course animate__animated animate__fadeIn">
                            <img src="/img/courses/creative-problem-solving.jpg" alt="Creative Problem Solving" />
                            <div class="panel">
                                <h3>Creative Problem Solving</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/creative-problem-solving" class="btn btn-secondary">View more</a>
                            </div>
                        </div>

                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-2 group-3 group-4 course animate__animated animate__fadeIn">
                            <img src="/img/courses/research-skills.jpg" alt="Research Skills" />
                            <div class="panel">
                                <h3>Research Skills</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/research-skills" class="btn btn-secondary">View more</a>
                            </div>
                        </div>

                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-2 group-3 group-4 course animate__animated animate__fadeIn">
                            <img src="/img/courses/making-an-impact.jpg" alt="Making an impact" />
                            <div class="panel">
                                <h3>Making an impact</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/making-an-impact" class="btn btn-secondary">View more</a>
                            </div>
                        </div>


                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-2 group-3 group-4 course animate__animated animate__fadeIn">
                            <img src="/img/courses/critical-thinking.jpg" alt="Critical thinking" />
                            <div class="panel">
                                <h3>Critical thinking</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/critical-thinking" class="btn btn-secondary">View more</a>
                            </div>
                        </div>

                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-2 group-3 course animate__animated animate__fadeIn">
                            <img src="/img/courses/entrepreneurship.jpg" alt="Entrepreneurship" />
                            <div class="panel">
                                <h3>Entrepreneurship</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/entrepreneurship" class="btn btn-secondary">View more</a>
                            </div>
                        </div>

                        <div class="col-12 col-xl-3 col-lg-4 col-md-5 group-3 course animate__animated animate__fadeIn">
                            <img src="/img/courses/cv-writing.jpg" alt="CV Writing" />
                            <div class="panel">
                                <h3>CV Writing</h3>
                                <p>Develop the confidence to face life's challenges and reach your full potential. </p>
                                <a href="/courses/cv-writing" class="btn btn-secondary">View more</a>
                            </div>
                        </div>


                    </div>
                </section>

                <% include partials/footer %>