<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="swup" class="transition-fade courses single-course">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1>Resilience</h1>
                                <p>Develop the confidence to face life’s challenges and reach your full potential. Resilience is important for several reasons; it enables us to develop mechanisms for protection against experiences which could be overwhelming,
                                    it helps us to maintain balance in our lives during difficult or stressful periods, and can also protect us from the development of some mental health difficulties and issues. </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="tertiary">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-12">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/QpDBzBxrmJA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-7 col-12">
                                <h2>Meet the course director</h2>
                                <br />
                                <br />
                                <h4>Jonnie Noakes</h4>
                                <h5>Director of Teaching & Learning, Eton College</h5>
                                <p>Jonnie Noakes is Director of Teaching & Learning at Eton College and the Director of the Tony Little Centre for Innovation and Research in Learning (CIRL), a centre for pedagogical excellence and evidence-informed practice
                                    in education. As an English teacher, he has led two departments concurrently at Eton and at the London Academy of Excellence and has published fourteen texts on contemporary novels for A-Level and undergraduate level,
                                    designed to cultivate intellectual independence. He has two decades of experience in teaching emotional intelligence and held the position of boarding housemaster for 12 years.</p>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="stand-out">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Why develop your resilience skills?</h2>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="panel">
                                    <h3>Top 10</h3>
                                    <p>The World Economic Forum predicts that resilience will be one of the top ten skills desired by employers by 2025. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="panel">
                                    <h3>57%</h3>
                                    <p>Over 57% of employers name resilience as one of the top skills they are looking for in potential hires. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="panel">
                                    <h3>Success</h3>
                                    <p>A study showed that students with higher academic resilience also had higher academic achievement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="syllabus">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Course Syllabus</h2>
                                <p>Our courses are broken down into digestible sections and units – each section should take no more than an hour, and each unit can be completed in as little as ten minutes. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 entry">
                                <div class="">
                                    <h4>
                                        1 - Knowing Yourself
                                    </h4>
                                    <ul>
                                        <li>What is resilience?</li>
                                        <li>Dealing with challenges </li>
                                        <li>Developing self-awareness</li>
                                        <li>How others see me </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 entry">
                                <div class="">
                                    <h4>
                                        2 – Harnessing Your Strengths
                                    </h4>
                                    <ul>
                                        <li>Strengths and energy </li>
                                        <li>Identifying your strengths</li>
                                        <li>Study strengths</li>
                                        <li>Understanding 'flow' – you on a good day</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 entry">
                                <div class="">
                                    <h4>
                                        3 – Gaining Control
                                    </h4>
                                    <ul>
                                        <li>Why is self-control so important for success </li>
                                        <li>Self-control and context </li>
                                        <li>Strategies for self-control </li>
                                        <li>Be kind to yourself</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 entry">
                                <div class="">
                                    <h4>
                                        4 – Limiting Beliefs
                                    </h4>
                                    <ul>
                                        <li>How do optimists think? </li>
                                        <li>An event vs an experience </li>
                                        <li>Reframing irrational/negative thoughts </li>
                                        <li>Challenging beliefs</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 entry">
                                <div class="">
                                    <h4>
                                        5 – Failing Forward
                                    </h4>
                                    <ul>
                                        <li>Looking beyond failure </li>
                                        <li>Perceptions of success</li>
                                        <li>Growth mindset </li>
                                        <li>Making your dreams a reality</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 entry">
                                <div class="">
                                    <h4>
                                        6 – Building Connections
                                    </h4>
                                    <ul>
                                        <li>The importance of gratitude </li>
                                        <li>Who boosts your energy? </li>
                                        <li>Identifying drains and radiators</li>
                                        <li>Supporting others</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <p><i>For timing details, please select your preferred course type below.</i></p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Course Type Selection-->

                <section class="courses-type">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <h2>Course Types</h2>
                                <p>You can take our courses in ways to suit your preferred learning style, goals and budget. You can attend a virtual <strong>Tutor Group</strong> via our easy to use the software, which is taught by an EtonX certified tutor.
                                    The other method is a <strong>Self Study</strong> option, which means you can learn at your own pace.</p>
                            </div>
                            <div class="col-md-6 col-12">
                                <img src="/img/courses-type-bg.jpg" alt="course types" />
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Tutor group -->

                <section class="tutor-group-heading dark-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Tutor Group</h2>
                                <p>Our live classes are led by a specially trained tutor. With up to 8 other students you will participate in guided discussions and collaborative tasks to develop your resilience skills over the course of 7 weeks.</p>
                            </div>

                            <div class="col-12 col-md-6">
                                <ul class="check-list">
                                    <li>Live class with tutor and up to 8 other students</li>
                                    <li>Certificate of achievement from Eton College</li>
                                    <li>Personalised feedback and action plan</li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="price-span">
                                            <h3>&pound;349</h3>
                                            <span>7 week course</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <a href="#tabs" class="btn btn-secondary purchase-btn scroll">Purchase a course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="what-to-expect dark-1">
                    <div class="container">
                        <div class="row">
                            <hr />
                            <div class="col-12">
                                <h3>What can I expect?</h3>
                            </div>
                            <div class="col-12 col-md-6">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/EsROnzJ02ww" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class=" col-12 col-md-6">
                                <ul class="study-list">
                                    <li>Self-Study Tasks: 40 minutes</li>
                                    <li>Peer Learning Tasks: 20 minutes</li>
                                    <li>Live Group Class: 50 minutes</li>
                                    <li>Reflection Task: 10 minutes</li>
                                </ul>
                                <p>The course concludes with a task where you will receive a grade and personalised feedback from your tutor along with a SMART action plan to help you continue to develop your skills in the real world. </p>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-md-3 col-12 panel">
                                <img src="/img/shield.svg" alt="Tutor" />
                                <h4>Safeguarding</h4>
                                <p>As part of our rigorous safeguarding procedures, all EtonX tutors and staff have passed an enhanced DBS check and Child Safeguarding course. </p>
                            </div>
                            <div class="col-md-3 col-12 panel">
                                <img src="/img/unlock.svg" alt="Tutor" />
                                <h4>Privacy & Data </h4>
                                <p>We take every step to ensure the security of your personal data. For information on how we collect and use your data, see our Privacy Policy.</p>
                            </div>
                            <div class="col-md-3 col-12 panel">
                                <img src="/img/speedometer.svg" alt="Tutor" />
                                <h4>Technical Requirements </h4>
                                <p>To ensure you have the best experience, there are some minimum requirements – click below to check if your device meets these.</p>
                            </div>
                            <div class="col-md-3 col-12 panel">
                                <img src="/img/chat.svg" alt="Tutor" />
                                <h4>Entry Requirements</h4>
                                <p>The minimum level of English required to participate in our courses is Upper Intermediate or B2 on the CEFR.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="course-type-selection dark-1">
                    <div class="container">
                        <div class="row">
                            <hr />
                            <h3>Live timetable</h3>
                            <div id="tabs">
                                <div class="center-tabs">
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a class="nav-link active" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="true">January</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="fast-tab" data-toggle="tab" href="#fast" role="tab" aria-controls="fast" aria-selected="false">February</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="summer-tab" data-toggle="tab" href="#summer" role="tab" aria-controls="summer" aria-selected="false">March</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" id="summer-tab" data-toggle="tab" href="#self" role="tab" aria-controls="summer" aria-selected="false">April</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-container">
                                    <!-- January -->
                                    <div id="tutor" class="tab-content">
                                        <table id="calendar">
                                            <tr class="weekdays">
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                                <th scope="col">Sunday</th>
                                            </tr>
                                            <tr class="days">
                                                <td class="day other-month">

                                                </td>
                                                <td class="day other-month">

                                                </td>
                                                <td class="day other-month">

                                                </td>
                                                <td class="day other-month">

                                                </td>
                                                <td class="day">
                                                    <div class="date">1</div>
                                                </td>
                                                <td class="day other-month">
                                                    <div class="date">2</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            <strong>START:</strong> Induction
                                                        </div>
                                                        <div class="event-time">
                                                            8am to 8:40am GMT
                                                        </div>
                                                        <a class="btn btn-quaternary" href="#" data-toggle="modal" data-target="#event-1">Enroll</a>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">3</div>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">4</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">5</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">6</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">7</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">8</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">9</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 1
                                                        </div>
                                                        <div class="event-time">
                                                            9 to 11am GMT
                                                        </div>
                                                    </div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">10</div>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">11</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">12</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">13</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">14</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">15</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">16</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 2
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">17</div>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td class="day">
                                                    <div class="date">18</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">19</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">20</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">21</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">22</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">23</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 3
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">24</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">25</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">26</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">28</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">29</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">30</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 4
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">31</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- February -->
                                    <div id="fast" class="tab-content">
                                        <table id="calendar">
                                            <tr class="weekdays">
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                                <th scope="col">Sunday</th>
                                            </tr>
                                            <tr class="days">
                                                <td class="day">
                                                    <div class="date">1</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">2</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">3</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">4</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">5</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">6</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 5
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">7</div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">8</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">9</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">10</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">11</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">12</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">13</div>
                                                    <div class="event event-1">
                                                        <div class="event-desc">
                                                            Section 6
                                                        </div>
                                                        <div class="event-time">
                                                            9am to 11am GMT
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">14</div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">15</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">16</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">17</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">18</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">19</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">20</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">21</div>

                                                </td>
                                            </tr>
                                            <tr>


                                                <td class="day">
                                                    <div class="date">22</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">23</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">24</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">25</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">26</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">28</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- March -->
                                    <div id="summer" class="tab-content">
                                        <table id="calendar">
                                            <tr class="weekdays">
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                                <th scope="col">Sunday</th>
                                            </tr>
                                            <tr class="days">
                                                <td class="day">
                                                    <div class="date">1</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">2</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">3</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">4</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">5</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">6</div>


                                                </td>
                                                <td class="day">
                                                    <div class="date">7</div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">8</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">9</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">10</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">11</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">12</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">13</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">14</div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">15</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">16</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">17</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">18</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">19</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">20</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">21</div>

                                                </td>
                                            </tr>
                                            <tr>


                                                <td class="day">
                                                    <div class="date">22</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">23</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">24</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">25</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">26</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">28</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">29</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">30</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">31</div>
                                                </td>
                                                <td class="day">


                                                </td>
                                                <td class="day">

                                                </td>
                                                <td class="day">

                                                </td>
                                                <td class="day">

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- April -->
                                    <div id="self" class="tab-content">
                                        <table id="calendar">
                                            <tr class="weekdays">
                                                <th scope="col">Monday</th>
                                                <th scope="col">Tuesday</th>
                                                <th scope="col">Wednesday</th>
                                                <th scope="col">Thursday</th>
                                                <th scope="col">Friday</th>
                                                <th scope="col">Saturday</th>
                                                <th scope="col">Sunday</th>
                                            </tr>

                                            <tr class="days">

                                                <td class="day other-month">
                                                </td>
                                                <td class="day other-month">
                                                </td>
                                                <td class="day other-month">
                                                </td>
                                                <td class="day">
                                                    <div class="date">1</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">2</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">3</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">4</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">5</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">6</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">7</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">8</div>

                                                </td>
                                                <td class="day">
                                                    <div class="date">9</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">10</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">11</div>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td class="day">
                                                    <div class="date">12</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">13</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">14</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">15</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">16</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">17</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">18</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">19</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">20</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">21</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">22</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">23</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">24</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">25</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day">
                                                    <div class="date">26</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">27</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">28</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">29</div>
                                                </td>
                                                <td class="day">
                                                    <div class="date">30</div>
                                                </td>
                                                <td class="day">
                                                </td>
                                                <td class="day">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Self study  -->

                <section class="self-study dark-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Self Study</h2>
                                <p>Whether you’ve got ten minutes or an hour to spare each week, our self-study courses allow you to access the same great self-study materials from our Tutor Group courses at a time and pace that suits your schedule.</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <ul class="check-list">
                                    <li>7-10 hours of self-study material </li>
                                    <li>Certificate of completion </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="price-span">
                                            <h3>&pound;49</h3>
                                            <span>Self Study</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <a href="/check" class="btn btn-secondary purchase-btn">Purchase Self Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-12">
                                <h3>What can I expect?</h3>
                                <p>Our self-study courses offer 7-10 hours of online material which you can work through at your own pace. Each section of the course consists of: </p>
                                <ul class="study-list">
                                    <li>Self-Study: 50 minutes </li>
                                    <li>Reflection: 10 minutes </li>
                                </ul>
                                <p>At the end of the course, you’ll have the chance to build a SMART action plan to help you continue to develop your skills in the real world. </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="tertiary">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>Testimonials</h3>
                                <p>"Everything was wonderful. The tutor explained everything clearly so that we understood and got very important experience communicating with an English-speaking person."</p>
                                <img src="/img/female-tutor.svg" alt="Tutor" width="100" align="right" />
                                <p>Violetta, EtonX Student from Russia</p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Modals -->


                <div class="modal fade course-modal" id="event-1" tabindex="-1" role="dialog" aria-labelledby="event-1-Title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle">Course Reference #1</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal-body">
                                <div class="tutor">
                                    <img src="/img/female-tutor.svg" alt="Tutor" />
                                    <h4>Sally Field</h4>
                                </div>
                                <p>This course starts on the <strong>2nd January 2020</strong> and will last for 3 weeks.</p>
                                <p>Sally has 20 years experience teaching and is a certified EtonX tutor. etc. etc.</p>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                <a href="/check" data-dismiss="modal" class="btn btn-gold">Purchase & Enroll</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade course-modal" id="event-2" tabindex="-1" role="dialog" aria-labelledby="event-2-Title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle">Course Reference #2</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal-body">
                                <p>This course starts on the <strong>6th January 2020</strong> and will last for 3 weeks.</p>
                                <div class="tutor">
                                    <img src="/img/male-tutor.svg" alt="Tutor" />
                                    <h4>Bob Flemming</h4>
                                    <p>Bob is an ex Univeristy lecturer and certified EtonX tutor. etc. etc.</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                <a href="/check" data-dismiss="modal" class="btn btn-primary ">Purchase & Enroll</a>
                            </div>
                        </div>
                    </div>
                </div>

                <% include partials/footer %>