<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="main" class="courses">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1>
                                    University Interview Skills
                                </h1>

                            </div>
                        </div>
                    </div>
                </section>


                <section class="tertiary">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <video muted="" loop src="https://etonx.com/wp-content/uploads/EtonX-promotional-video.mp4?_=1" width="100%" controls autoplay></video>
                            </div>
                            <div class="col-6">
                                <img src="/img/female-tutor.svg" alt="Tutor" width="100" align="right" />
                                <h3>
                                    Meet the course director
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="stand-out">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    As a student, what do I get?
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <div class="panel">
                                    <h2>
                                        1/5 Students
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="panel">
                                    <h2>
                                        90%
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="panel">
                                    <h2>
                                        Headline
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    Syllabus
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">

                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="course-type-selection">
                    <div id="tabs">

                        <div class="center-tabs">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a class="nav-link active" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="true">Tutor Group</a>
                                </li>
                                <li>
                                    <a class="nav-link" id="fast-tab" data-toggle="tab" href="#fast" role="tab" aria-controls="fast" aria-selected="false">Fast Track</a>
                                </li>
                                <li>
                                    <a class="nav-link" id="summer-tab" data-toggle="tab" href="#summer" role="tab" aria-controls="summer" aria-selected="false">Summer School</a>
                                </li>
                                <li>
                                    <a class="nav-link" id="summer-tab" data-toggle="tab" href="#self" role="tab" aria-controls="summer" aria-selected="false">Self Study</a>
                                </li>
                            </ul>
                        </div>

                        <div class="row tab-container">
                            <div class="container">
                                <div id="tutor" class="tab-content">
                                    <h2>Live classroom timetable</h2>
                                    <br />
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                    <br />
                                    <a href="/check" class="btn btn-secondary">Purchase</a>
                                </div>
                                <div id="fast" class="tab-content">
                                    <h2>Fast Track</h2>
                                    <br />
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                    <br />
                                    <a href="/check" class="btn btn-secondary">Purchase</a>
                                </div>
                                <div id="summer" class="tab-content">
                                    <h2>Summer school</h2>
                                    <br />
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                    <br />
                                    <a href="/check" class="btn btn-secondary">Purchase</a>
                                </div>
                                <div id="self" class="tab-content">
                                    <h2>Self Study</h2>
                                    <br />
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                    <br />
                                    <a href="/check" class="btn btn-secondary">Purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <% include partials/footer %>