<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="swup" class="transition-fade courses">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1>
                                    University Interview Skills
                                </h1>
                                <p>Develop the confidence to face life’s challenges and reach your full potential. </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="course-type-selection">
                    <div id="tabs">

                        <div class="center-tabs">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a class="nav-link active" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="true">Tutor Group</a>
                                </li>
                                <!-- <li>
                                    <a class="nav-link" id="fast-tab" data-toggle="tab" href="#fast" role="tab" aria-controls="fast" aria-selected="false">Fast Track</a>
                                </li>
                                <li>
                                    <a class="nav-link" id="summer-tab" data-toggle="tab" href="#summer" role="tab" aria-controls="summer" aria-selected="false">Summer School</a>
                                </li> -->
                                <li>
                                    <a class="nav-link" id="summer-tab" data-toggle="tab" href="#self" role="tab" aria-controls="summer" aria-selected="false">Self Study</a>
                                </li>
                            </ul>
                        </div>

                        <div class="row tab-container">
                            <div class="container">
                                <div id="tutor" class="tab-content">
                                    <h2>Live classroom timetable</h2>
                                    <br />
                                    <p>Below is the the current timetable available for our Virtual Classrooms coming up. University Skills is 5 weeks plus orientation. </p>
                                    <div class="price-span">
                                        <h3>&pound;399</h3>
                                        <span>5 day course</span>
                                    </div>


                                    <table id="calendar">
                                        <caption>January 2020</caption>
                                        <tr class="weekdays">
                                            <th scope="col">Sunday</th>
                                            <th scope="col">Monday</th>
                                            <th scope="col">Tuesday</th>
                                            <th scope="col">Wednesday</th>
                                            <th scope="col">Thursday</th>
                                            <th scope="col">Friday</th>
                                            <th scope="col">Saturday</th>
                                        </tr>

                                        <tr class="days">
                                            <td class="day other-month">
                                                <div class="date">27</div>
                                            </td>
                                            <td class="day other-month">
                                                <div class="date">28</div>
                                            </td>
                                            <td class="day other-month">
                                                <div class="date">29</div>
                                            </td>
                                            <td class="day other-month">
                                                <div class="date">30</div>
                                            </td>
                                            <td class="day other-month">
                                                <div class="date">31</div>
                                            </td>


                                            <td class="day">
                                                <div class="date">1</div>
                                            </td>
                                            <td class="day">
                                                <div class="date">2</div>
                                                <div class="event">
                                                    <div class="event-desc">
                                                        Sally Bingham
                                                    </div>
                                                    <div class="event-time">
                                                        8:00am to 9:00am GMT
                                                    </div>
                                                    <a href="/check">Enroll</a>
                                                </div>
                                </div>
                                </td>
                                </tr>
                                <tr>
                                    <td class="day">
                                        <div class="date">3</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">4</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">5</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">6</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">7</div>

                                    </td>
                                    <td class="day">
                                        <div class="date">8</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">9</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day">
                                        <div class="date">10</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">11</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">12</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">13</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">14</div>

                                    </td>
                                    <td class="day">
                                        <div class="date">15</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">16</div>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="day">
                                        <div class="date">17</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">18</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">19</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">20</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">21</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">22</div>
                                        <div class="event">
                                            <div class="event-desc">
                                                Conference call
                                            </div>
                                            <div class="event-time">
                                                9:00am to 12:00pm
                                            </div>
                                        </div>
                                    </td>
                                    <td class="day">
                                        <div class="date">23</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day">
                                        <div class="date">24</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">25</div>

                                    </td>
                                    <td class="day">
                                        <div class="date">26</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">27</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">28</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">29</div>
                                    </td>
                                    <td class="day">
                                        <div class="date">30</div>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="day">
                                        <div class="date">31</div>
                                    </td>
                                    <td class="day other-month">
                                        <div class="date">1</div>
                                        <!-- Next Month -->
                                    </td>
                                    <td class="day other-month">
                                        <div class="date">2</div>
                                    </td>
                                    <td class="day other-month">
                                        <div class="date">3</div>
                                    </td>
                                    <td class="day other-month">
                                        <div class="date">4</div>
                                    </td>
                                    <td class="day other-month">
                                        <div class="date">5</div>
                                    </td>
                                    <td class="day other-month">
                                        <div class="date">6</div>
                                    </td>

                                    </table>

                            </div>
                            <!-- <div id="fast" class="tab-content">
                                    <h2>Fast Track</h2>
                                    <br />
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                    <br />
                                    <a href="/check" class="btn btn-secondary">Purchase</a>
                                </div>
                                <div id="summer" class="tab-content">
                                    <h2>Summer school</h2>
                                    <br />
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                    <br />
                                    <a href="/check" class="btn btn-secondary">Purchase</a>
                                </div> -->
                            <div id="self" class="tab-content">
                                <h2>Self Study</h2>
                                <br />
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                <br />
                                <a href="/check" class="btn btn-secondary">Purchase</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>



                <section class="tertiary">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <video muted="" loop src="https://etonx.com/wp-content/uploads/EtonX-promotional-video.mp4?_=1" width="100%" controls autoplay></video>
                            </div>
                            <div class="col-6">
                                <img src="/img/female-tutor.svg" alt="Tutor" width="100" align="right" />
                                <h3>
                                    Meet the course director
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="stand-out">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    As a student, what do I get?
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <div class="panel">
                                    <h2>
                                        1/5 Students
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="panel">
                                    <h2>
                                        90%
                                    </h2>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="panel">
                                    <h2>
                                        Headline
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    Syllabus
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">

                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>



                <% include partials/footer %>