<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="main" class="courses">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>
                                    University Skills
                                </h2>
                                <a href="/check" class="btn btn-primary">Purchase</a>
                            </div>
                        </div>
                    </div>
                </section>


                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <video muted="" loop src="https://etonx.com/wp-content/uploads/EtonX-promotional-video.mp4?_=1" width="100%" controls autoplay></video>
                            </div>
                            <div class="col-6">
                                <img src="/img/female-tutor.svg" alt="Tutor" width="100" align="right" />
                                <h3>
                                    Meet the course director
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    As a student, what do I get?
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-4 panel">
                                <h3>
                                    100%
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4 panel">
                                <h3>
                                    100%
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4 panel">
                                <h3>
                                    100%
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    Syllabus
                                </h3>
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">

                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-4">
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="course-type-selection">
                    <div class="container">
                        <div class="col-12">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="true">Tutor Group</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="fast-tab" data-toggle="tab" href="#fast" role="tab" aria-controls="fast" aria-selected="false">Fast Track</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="summer-tab" data-toggle="tab" href="#summer" role="tab" aria-controls="summer" aria-selected="false">Summer School</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="self-tab" data-toggle="tab" href="#self" role="tab" aria-controls="self" aria-selected="false">Self Study</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="tutor" " role="tabpanel " aria-labelledby="tutor ">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                </div>
                                <div class="tab-pane fade " id="fast " role="tabpanel " aria-labelledby="fast ">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                    Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
                                    magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                                    sint qui sapiente accusamus tattooed echo park.</div>
                                <div class="tab-pane fade " id="summer " role="tabpanel " aria-labelledby="summer ">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
                                    carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice
                                    blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
                                <div class="tab-pane fade " id="self " role="tabpanel " aria-labelledby="self ">Self study info</div>
                            </div>
                        </div>
                    </div>
                </section>


                <% include partials/footer %>