<% include ./partials/header %>
    <% include ./partials/nav %>

        <main id="main">

            <section class="confirmation">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 login-form">


                            <h2>Welcome back to your dashboard
                                <%= user.firstName %>
                            </h2>

                            <a href="# ">Having problems?</a>

                        </div>
                    </div>
                </div>
            </section>
            <% include ./partials/footer %>