<% include ./partials/header %>
    <% include ./partials/nav %>

        <main id="swup" class="transition-fade">

            <section class="dashboard">
                <div class="full-width">
                    <div class="row">
                        <div class="col-12">


                            <h2>Dashboard</h2>
                            <div class="dash--alert">
                                <img src="/img/dashboard/shield.svg" />
                                <p>We need to verify your details for safeguarding, before you can unlock <strong>‘Resilience’</strong>.</p>
                                <a class="btn btn-primary" href="#">
                                   Verify
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-8">

                            <div class="dash--course">
                                <img src="/img/dashboard/eton_crest.png" class="logo" alt="Eton Course" />
                                <strong>Resilience</Strong>
                                <div class="action">
                                    <span class="tutor-group"></span>
                                    <span class="locked">
                                        <img src="/img/dashboard/lock.svg" />
                                    </span>
                                    <a class="toggle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <img src="/img/dashboard/toggle.svg" />
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="dash--schedule">
                                <strong>Upcoming classes</Strong>
                            </div>
                            <div class="entry">
                                <ul>
                                    <li>
                                        <span>MAIWE150003MAR181618-00001</span>
                                        <span class="tutor-group"></span>
                                        <span class="confirmed"></span>
                                    </li>
                                    <li>
                                        <strong>Creative problem solving</strong>
                                        <span class="fast-track"></span>
                                    </li>
                                    <li>
                                        <sub>Anna Jenkins | Week 4 </sub>
                                        <sub>Monday, 19th April 2020, 2:00pm - 3:00pm</sub>
                                        <span class="locked"></span>
                                    </li>
                                    <li><a href="#" class="btn btn-secondary">Register</a></li>
                                </ul>
                            </div>
                            <div class="entry">
                                <ul>
                                    <li>
                                        <span>MAIWE150003MAR181618-00001</span>
                                        <span class="tutor-group"></span>
                                        <span class="confirmed"></span>
                                    </li>
                                    <li>
                                        <strong>Creative problem solving</strong>
                                        <span class="fast-track"></span>
                                    </li>
                                    <li>
                                        <sub>Anna Jenkins | Week 4 </sub>
                                        <sub>Monday, 19th April 2020, 2:00pm - 3:00pm</sub>
                                        <span class="locked"></span>
                                    </li>
                                    <li><a href="#" class="btn btn-secondary">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <% include ./partials/footer-6 %>