<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="main" class="home">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <h1>Curated online courses for future skills</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-12"></div>
                            <div class="col-lg-5 col-12 align-right">
                                <a class="btn btn-secondary xlarge" href="/courses">View courses</a>
                                <h2>From Eton College, <br />United Kingdom</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="access-code">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3 col-12">
                                <h2>Have you been given an access code from your school or teacher?</h2>
                                <a class="btn btn-tertiary xlarge" href="/access-code">Yes</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home__tutors">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Online learning courses written and developed by Eton tutors</h2>

                            </div>
                            <div class="col-lg-3">
                                <img src="/img/female-tutor.svg" alt="Tutor" />
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-lg-3">
                                <img src="/img/male-tutor.svg" alt="Tutor" />
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-lg-3">
                                <img src="/img/female-tutor.svg" alt="Tutor" />
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-lg-3">
                                <img src="/img/male-tutor.svg" alt="Tutor" />
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-12 center">
                                <a class="btn btn-secondary xlarge" href="/courses">View courses</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home__video">
                    <div class="container">
                        <h2>What our courses are designed to do</h2>
                        <video muted="" loop src="https://etonx.com/wp-content/uploads/EtonX-promotional-video.mp4?_=1" width="100%" controls autoplay></video>
                        <div class="row">
                            <div class="col-12 center">
                                <a class="btn btn-secondary xlarge" href="/courses">View courses</a>
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>

                    </div>
                </section>
                <section class="home__sign-up">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form src="#">
                                    <h2>Sign up to hear about new courses and offers</h2>
                                    <input type="text" placeholder="jane.doe@email.com" />
                                    <button type="submit" class="btn-primary btn xlarge">Sign up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>

                <% include partials/footer %>