<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="main" class="home">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-7">
                                <h1>Future Skills for teenagers worldwide</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7"></div>
                            <div class="col-5 align-right">
                                <a class="btn-primary xlarge" href="#">Our courses</a>
                                <h2>From Eton College, United Kingdom</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home__tutors">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Online learning courses written and developed by Eton tutors</h2>

                            </div>
                            <div class="col-3">
                                <img src="/img/female-tutor.svg" alt="Tutor" />
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-3">
                                <img src="/img/male-tutor.svg" alt="Tutor" />
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-3">
                                <img src="/img/female-tutor.svg" alt="Tutor" />
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                            <div class="col-3">
                                <img src="/img/male-tutor.svg" alt="Tutor" />
                                <p>Maecenas a fermentum nulla, vel cursus nisi. Aliquam ultrices molestie velit, in iaculis leo. Curabitur vehicula felis a erat dapibus, sit amet maximus nisl maximus. Mauris et elit nulla.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home__video">
                    <video muted="" loop src="https://etonx.com/wp-content/uploads/EtonX-promotional-video.mp4?_=1" width="100%" controls autoplay></video>
                </section>
                <section class="home__sign-up">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form src="#">
                                    <h2>Sign up to hear about new courses and offers</h2>
                                    <input type="text" placeholder="jane.doe@email.com" />
                                    <button type="submit" class="btn-primary xlarge">Sign up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>

                <% include partials/footer %>