<% include ./partials/header %>
    <% include ./partials/alerts %>
        <% include ./partials/nav %>
            <main id="main" class="home">

                <section class="intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1>EtonX</h1>

                            </div>

                        </div>
                    </div>
                </section>
                <section class="projects">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at ultrices ex. Vivamus posuere eget orci ut molestie. Aliquam lacinia malesuada dapibus. Sed id semper dui. Vivamus vestibulum accumsan porttitor. Praesent
                                    ac lorem et tortor posuere consectetur. Vivamus ut imperdiet mi, elementum imperdiet sapien.</p>
                                <p>Suspendisse fermentum nibh eros. Duis euismod orci sit amet lacus vestibulum porttitor vel quis nunc. Aenean molestie condimentum justo, quis aliquam neque sagittis vitae. Phasellus facilisis mollis justo at convallis.
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam viverra lacinia leo, eu tempus enim maximus a. Phasellus nisi purus, condimentum non purus vitae, malesuada malesuada nunc.
                                    Nullam ut vehicula eros, eget hendrerit mi.</p>
                            </div>
                        </div>
                    </div>
                </section>


                <% include partials/footer %>